.about {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../img/about_bg.jpg') no-repeat center center / cover;
    overflow: hidden;
    padding: 5rem 1rem;
}

.about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.about_sec {
    position: relative;
    z-index: 2;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 1rem;
    gap: 50px;
}

.about_content {
    width: 60%;
    text-align: justify;
    color: white;
    line-height: 1.7;
}

.about_pic {
    width: 40%;
    display: flex;
    padding: 0;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.about_pic .about_pic1,
.about_pic .about_pic2 {
    width: 100%;
    padding: 0;
    margin: .5rem;
}

.about_pic .about_pic1 img {
    width: 95%;
    height: 150px;
    object-fit: cover;
}

.about_pic .about_pic2 img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.rd_mor {
    cursor: pointer;
    font-size: 1.5rem;
    text-decoration: none;
    padding: .7rem 1.5rem;
    background: linear-gradient(90deg, yellow, orange);
    color: black;
    border: none;
    border-radius: 50px;
    transition: all 0.5s ease;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 1rem white;
}

.rd_mor:hover {
    background: linear-gradient(90deg, orange, red);
    color: white;
    transform: scale(1.05);
    box-shadow: none;
}

.about .heading,
.about hr {
    position: relative;
    z-index: 2;
}

@media (max-width: 1024px) {
    .about_sec {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .about_content {
        width: 90%;
        text-align: justify;
    }

    .about_pic {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .about_pic .about_pic1 img,
    .about_pic .about_pic2 img {
        height: auto;
    }
}

@media (max-width: 768px) {
    .about {
        padding: 3rem 1rem;
    }

    .about .heading {
        font-size: 1.8rem;
    }

    .about_content {
        width: 100%;
        font-size: 0.9rem;
    }

    .rd_mor {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 480px) {

    .about_pic .about_pic1 img,
    .about_pic .about_pic2 img {
        width: 100%;
    }

    .rd_mor {
        font-size: 1rem;
        padding: 0.4rem 0.8rem;
    }
}