.contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: url('img/contactusbg.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 2rem 5rem;
    min-height: 100vh;
    background: white;
}

.contact-info {
    flex: 1 1 40%;
}

.contact-info h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: black;
}

.contact-info p {
    font-size: 16px;
    margin-bottom: 40px;
    color: black;
}

.contact-info .info-item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.contact-info .info-item i {
    font-size: 24px;
    margin-right: 15px;
    color: black;
}

.contact-info .info-item span {
    font-size: 16px;
    color: black;
}

.contact-info .info-item span a {
    font-size: 16px;
    text-decoration: none;
    color: blue;
    transition: .5s ease color;

    &:hover {
        color: black;
    }
}

.contact-form {
    flex: 1 1 50%;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    color: #333;
}

.contact-form h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
    width: 100%;
    padding: 1rem;
    border: none;
    border-bottom: 2px solid black;
    border-width: 100%;
    font-size: 16px;
    outline: none;
}

.contact-form .form-group textarea {
    resize: none;
    height: 100px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background: blue;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: .5s ease background;
}

.contact-form button:hover {
    background: black;
}

@media (max-width: 768px) {
    .contact-section {
        padding: 10px;
        flex-direction: column;
    }

    .contact-info {
        margin-bottom: 30px;
    }

    .contact-form {
        width: 100%;
    }

    .contact-info {
        text-align: center;
        padding: 20px;
    }
}